  .bt_excluir {
    background-color: inherit;
    top: 15px;
    right: 15px;
    padding: 1.5px 1.5px;
    border: none; /* Remove bordas */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    position: absolute;
    
  }

  .bt_icon {
    background-color: inherit;
    bottom: 40px;
    right: 5px;
    border: none; /* Remove bordas */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    position: absolute;
    
  }

  .medics_title {
    background-color: rgb(231, 245, 245);
    font-size: large;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid rgb(75, 145, 129);
    width: 300px;
    height: 200px;
    gap: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
 
.controles {
  padding: 5px;
  display: flex;
}

.label_horario {
  padding: 5px;
 display: grid;
 /*justify-content: space-around;       /* Centraliza o conteúdo horizontalmente */

}

.horarios {
  padding: 5px;
  display: grid;
}

.qtde {
  padding: 5px;
  display: grid;
}

.div_dosagem {
  font-size: 0.97rem ;
}

