  .bt_excluir {
    background-color: inherit;
    top: 15px;
    right: 15px;
    padding: 1.5px 1.5px;
    border: none; /* Remove bordas */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    position: absolute;
    
  }

  .bt_icon {
    background-color: inherit;
    bottom: 40px;
    right: 5px;
    border: none; /* Remove bordas */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    position: absolute;
    
  }

  .medics_title {
   
    border-radius: 20px;
    
    border: 1px solid rgb(63, 53, 158);
    width: 320px;
    height: 250px;
    gap: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(63, 53, 158);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    font-size: 0.86rem;
    font-weight: bold;
    
  }
.form_view {
  display: flex;
  flex-direction: column;
  align-items: reflex-start;
  margin-left: 15px;
  justify-content: center;
  width: 100%;
  font-style: italic;
  font-size: 0.85rem;
  color: rgb(63, 53, 158);
  
  border-radius: 20px;
} 

.controles {
  padding: 5px;
  display: flex;
}

.label_horario {
  padding: 5px;
 display: grid;
 /*justify-content: space-around;       /* Centraliza o conteúdo horizontalmente */

}

.horarios {
  padding: 5px;
  display: grid;
}

.qtde {
  padding: 5px;
  display: grid;
}

.div_dosagem {
  font-size: 0.97rem ;
}

