.Pessoa {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid rgb(75, 145, 129);
    font-family: Arial, Helvetica, sans-serif;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.cadbiometria {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.listBiometria {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-size: 0.95rem;
    gap: 10px;
    padding: 15px;
}

.buttons {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 250px;
    
}

.but {
    margin-top: 30px;
    justify-items: center;
    margin-bottom: 7%;
}

.list {
    margin-top: 15px;
    justify-items: center;
    font-size: 0.85rem;

}

.title {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bt_pessoa {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    width: 250px;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 10px;
}