.form-metricas{
    border-radius: 5%;
    background-color: rgb(198, 211, 211);
    color: rgb(30, 30, 34);  
    border: 0;
}
.buttonBioSalvar {
    border-radius: 5%;
    background-color: rgb(198, 211, 211);
    color: rgb(30, 30, 34);  
    border: 0;
}

.ValorBio {
    border-radius: 5%;

    color: rgb(30, 30, 34);  
    border: 0;
}