.CadastrarMedicamento {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: rgb(198, 211, 211);
    margin-bottom: 2rem;
    border: 2px solid violet;
    padding: 20px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    height: auto;
    width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.CadastrarMedicamento h4 {
   
    font-family: inherit;
    color: blue;

}

.CadastrarMedicamento form label {
    font-family: inherit;
    color: blue;
    margin-left: 5%;
    
}

.CadastrarMedicamento form input {
    text-align: left;
    padding: 0;
    background-color: whitesmoke;
    
}

.CadastrarMedicamento form div button {
    margin-top: 10px;
    margin-left: 5%;

}