.CadastrarMedicamento {
    background-color: rgb(198, 211, 211);
    margin-bottom: 2rem;
    border: 2px solid violet;
    padding: 20px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    height: auto;
    width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.CadastrarMedicamento h4 {
   
    font-family: inherit;
    color: blue;

}

.CadastrarMedicamento form {
    display: grid;
    grid-template-columns: 150px 1fr; /* Coluna de 150px para labels, o resto para inputs */
    gap: 10px 10px; /* Espaçamento entre linhas e colunas */
    align-items: center; /* Alinha verticalmente no centro */
}

.CadastrarMedicamento form label {
    font-family: inherit;
    color: blue;
    text-align: right;
    
}

.CadastrarMedicamento form input {
     
}

.CadastrarMedicamento form div button {
    margin-top: 10px;
    margin-left: 5%;

}
