.CadastrarMedicamento {
    background-color: rgb(198, 211, 211);
    margin-bottom: 2rem;
    border: 2px solid violet;
    padding: 20px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    height: auto;
    width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

.CadastrarMedicamento form button {
    margin-top: 2.5%;
}

.CadastrarMedicamento form div {
    margin-top: 2%;
}

.CadastrarMedicamento form input {
    margin-left: 1%;
    width: 300px;
}