.GravarHorario {
    background-color: cadetblue;
    margin-bottom: 2rem;
    border: 2px solid red;
    padding: 20px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    height: auto;
    width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.GravarHorario h5 {
    margin-top: 5px;
    color: gold;
}

.GravarHorario form input {
    width: 195px;
}
.GravarHorario form label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 10px;
    color: gold;
}

.GravarHorario form button {
    margin-top: 10px;
    border: 0;
    background-color: inherit;
    color: blue;
}
