.Medicamento {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  

  .excluir {
    position: relative;
    top: 7px;
    right: 7px;
    padding: 1.5px 1.5px;
    color: black; /* Cor do texto */
    border: none; /* Remove bordas */
    border-radius: 35px; /* Arredonda os cantos */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
  }

/* .button {
  cursor: pointer;
  font-size: inherit;
  border: 5px;
  color: rgb(30, 30, 34);
  background-color: inherit;

} */

.buttonListar {
  cursor: pointer;
  font-size: inherit;
  border: 5px;
  color: rgb(30, 30, 34);
  margin-top: 10px;
  background-color: beige;

}

.novoHorario {
  width: 60px;
  margin-left: 15px;
  margin-right: 5px;
  border: 0;
  text-align: center;
}


  .medics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 3%;
    padding: 10px;
    border: 2px solid rgb(75, 145, 129);
    width: 500px;
    
  }


