.Medicamento {
    position: relative;
    background-color: rgb(198, 211, 211);
    margin-bottom: 2rem;
    border: 2px solid violet;
    padding: 0px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    height:auto;
    width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;  
  }

  .Medicamento div button {
    margin-top: 2.5%;
    margin-right: 2.5%;
    cursor: pointer;
  }

  .excluir {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 10px 10px;
    background-color:  rgb(198, 211, 211); /* Cor do botão */
    color: black; /* Cor do texto */
    border: none; /* Remove bordas */
    border-radius: 35px; /* Arredonda os cantos */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
  }

