.Pessoa {
    background-color: rgb(198, 211, 211);
    margin-bottom: 2rem;
    border: 2px solid violet;
    padding: 20px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    height: auto;
    width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.Pessoa h4 {
    padding: 0;
    color: blue;
}

.Pessoa p {
    padding: 0%;
    color: blue;
}

.btReg {
    border-radius: 5%;
    font-family: inherit;
    margin-top: 2px;
    cursor: pointer;
}

.LstMedics {
    border-radius: 5%;
    font-family: inherit;
    margin-top: 2px;
    cursor: pointer;
}